cmsplugin-filer==1.1.2
Django==1.9.8
django-classy-tags==0.7.2
django-cms==3.3.1
django-environ==0.4.0
django-filer==1.2.4
django-reversion==2.0.6
django-sekizai==0.9.0
django-treebeard==4.0.1
djangocms-admin-style==1.2.3
djangocms-attributes-field==0.1.1
djangocms-file==1.0
djangocms-googlemap==0.5.1
djangocms-inherit==0.2.1
djangocms-link==1.8.2
djangocms-picture==1.0.0
djangocms-snippet==1.8.1
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.0.1
djangocms-video==1.0.0
html5lib==0.9999999
Pillow==3.3.0
psycopg2==2.6.2
six==1.10.0
